<div class="card card-body card-padding text-center">
	<h2> Writers' Workshop </h2>
</div>

<div class="container c-boxed">
  <div class="c-header">
      <%if @group.drafts.count == 0 %>

       <h2 class="c-black">There are no drafts in this group yet! <a href="/works"> You should submit one. </a> Don't be shy. </h2>
      
      <%else%>
        <h2 class="c-black">Please Leave Constructive Comments on these Drafts.</h2>
      <%end%>
  </div>

  <div class="row pricing-table">
  	<% @group.drafts.each do |draft| %>
      <div class="col-sm-4">
          <div class="card pt-item">
     				<a href="/drafts/<%=draft.id%>">
              <div class="pti-header bgm-purple">
                  <h2><%=draft.work.name%> </h2>
                  <br>
                  <h4 class="c-white"><%=draft.name%></h4>
                  <div class="ptih-title">By <%=draft.work.user.name%></div>
              </div>
            </a>
              <div class="pti-body">
                  <div class="ptib-item">
                  <b>Author's Request:</b>
                    <%=draft.feedback_request%>
                      
                  </div>
                  <div class="ptib-item">
                     <b> Work Description:</b> <%= draft.work.description %>
                  </div>
              </div>

              <div class="pti-footer">
                  <a href="/drafts/<%=draft.id%>" class="bgm-purple"><i class="zmdi zmdi-sign-in"></i></a>
              </div>
          </div>
      </div>
    <%end%>

  </div>

  <div class="card card-body card-padding">

    <%= render 'chat' %>

  </div>

</div>
