<div class="card card-body card-padding">
	<h1> <%= @draft.name %> </h1>
	Part of: <%= @work.name %>
</div>


<div id="c-grid" class="clearfix" data-columns>

	<div class="card card-body card-padding">
		<%= @draft.text %> 
	</div>



	<div class="card card-body card-padding">
		<h2>Comments</h2>

		<%= render "comments/comments" %>
	</div>
</div>

	<% if @current_user.id == @work.user_id %>
		<%= button_to "Delete Draft", "/drafts/#{@draft.id}", method: :delete, :class => "btn btn-sm btn-primary"%>
	<%end %>