
<div class="card card-body card-padding">
	<div id="c-grid" class="clearfix" data-columns>
		<div>
			<h1> <%= @draft.name %> </h1>
			Part of: <%=@draft.work.name%> <br>
			By: <%=@draft.work.user.name%> 
			<% if @draft.visible %> 
				<br>
				Up for Feedback in: <a href="/groups/<%=@draft.group.id%>">  <%= @draft.group.name %> </a>
			<%end%>
		</div>
		<% if @draft.visible %> 
			<div class="text-right">
				<br>
				<h4>Feedback Request:</h4> <%= @draft.feedback_request %>
			</div>
		<%end%>
	</div>
</div>

<% if (@current_user.id == @draft.work.user_id) && !(@draft.visible) %>

	<div class="card card-body card-padding">
		<%= form_tag "/drafts/#{@draft.id}", method: :patch do%>
			<h3> Submit to Group? </h3>
			<%= collection_select(:drafts, :group_id, @current_user.groups, :id, :name, prompt: "Select Group") %> <br><br>
			Feedback request:
			<textarea class="form-control" rows="3" placeholder="Are there any areas you'd like specific feedback on? Or information your group should know about this piece?" name="feedback_request"></textarea><br>
			<input type="submit" value="Submit to Group">
		<%end%> 
	</div>

<%end%> 

	<div id="c-grid" class="clearfix" data-columns>

		<div class="card card-body card-padding">
			<%= simple_format @draft.text %> 
		</div>

		<div class="card card-body card-padding">
			<h2 class="c-black">Comments on this Draft</h2>

			<%= render "comments/comments" %>
		</div>
	</div>

		
		<% if (@current_user.id == @draft.work.user_id) && (@draft.visible) %>
			<%= button_to "Remove from Group", "/drafts/#{@draft.id}", method: :patch%>
		<% end %>
		<br> 
		<% if @current_user.id == @draft.work.user_id %>
			<%= button_to "Delete Draft", "/drafts/#{@draft.id}", method: :delete%>
		<%end %>