<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>writ</title>
        
        <!-- Vendor CSS -->
        <link href="/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">        
        <link href="/vendors/bower_components/google-material-color/dist/palette.css" rel="stylesheet">
        
        <!-- CSS -->
        <link href="/css/app.css" rel="stylesheet">
       <!--  <link href="/css/app.min.2.css" rel="stylesheet">  -->

        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        
    </head>
    <body data-ma-header="teal">
        <header id="header" class="media">
            <div class="pull-left h-logo">
                <a href="/" class="hidden-xs">
                    <i>writ  </i>
                    <small>it's dangerous<br>to go alone</small>
                </a>
                <div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
                    <div class="mc-wrap">
                        <div class="mcw-line top palette-White bg"></div>
                        <div class="mcw-line center palette-White bg"></div>
                        <div class="mcw-line bottom palette-White bg"></div>
                    </div>
                </div>
            </div>
            <% if current_user %>
                <ul class="pull-right h-menu">
                    <li class="hm-search-trigger">
                        <a href="" data-ma-action="search-open">
                        </a>
                    </li>
                    
                    <li class="dropdown hm-profile">
                        <a data-toggle="dropdown" href="">
                            <img src="<%=current_user.image%>" alt="sup broseph">
                        </a>
                        
                        <ul class="dropdown-menu pull-right dm-icon">
                            <li>
                                <a href="/profile"><i class="zmdi zmdi-account"></i> View Profile</a>
                            </li>
                            <li>
                                <a href="/logout"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="media-body h-search">
                <%= form_tag "/search", method: :post do %>
                    <form class="p-relative">
                        <i class="hs-reset" data-ma-action="search-clear"></i>
                        <input type="text" class="hs-input" placeholder="Search Writing Groups." name="search_term">
                    </form>
                <%end%>
                </div>
            
            <%else%>
                <div class="pull-right">
                    <a href="/login" class='btn btn palette-Purple bg btn-lg'> Login or Signup! </a>
                </div>
            <%end%>
            
        </header>

        <section id="main">
            <%if current_user %>
                <aside id="s-main-menu" class="sidebar">
                    <div class="smm-header">
                        <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
                    </div>

                    <ul class="smm-alerts">
                        <li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                            <i class="zmdi zmdi-email"></i>
                        </li>
                        <li data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                            <i class="zmdi zmdi-notifications"></i>
                        </li>
                        <li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                            <i class="zmdi zmdi-view-list-alt"></i>
                        </li>
                    </ul>

                    <ul class="main-menu">
                        <li class="active"><a href="/categories"><i class="zmdi zmdi-globe"></i> Browse Groups</a></li>
                        <li><a href="/groups"><i class="zmdi zmdi-accounts-outline"></i>My Groups</a></li>
                        <li><a href="/works"><i class="zmdi zmdi-local-library"></i> My Works</a></li>
                        <li><a href="#"><i class="zmdi zmdi-calendar"></i> Calendar</a></li>
                        <li><a href="#"><i class="zmdi zmdi-layers"></i> Other Link</a></li>

                        <li class="sub-menu">
                            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-menu"></i> 3 Level Menu</a>

                            <ul>
                                <li><a href="form-elements.html">Level 2 link</a></li>
                                <li><a href="form-components.html">Another level 2 Link</a></li>
                                <li class="sub-menu">
                                    <a href="" data-ma-action="submenu-toggle">I have children too</a>

                                    <ul>
                                        <li><a href="">Level 3 link</a></li>
                                        <li><a href="">Another Level 3 link</a></li>
                                        <li><a href="">Third one</a></li>
                                    </ul>
                                </li>
                                <li><a href="form-validations.html">One more 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            <%end%>

            <section id="content">
                <div class="container">
                  <% flash.each do |type,message| %>
                    <div class="alert alert-<%=type%>">
                      <%=message%>
                    </div>
                  <%end%>

                  <%= yield %>

                </div>
            </section>

            <footer id="footer">
                writ app by Jody Lipkin - 2017 <br>
                Design Copyright &copy; 2015 Material Admin
            </footer>

        </section>

        <!-- Page Loader -->
        <div class="page-loader palette-Teal bg">
            <div class="preloader pl-xl pls-white">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20"/>
                </svg>
            </div>
        </div>
        
        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>   
        <![endif]-->

        <!-- Javascript Libraries -->
        <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="/vendors/bower_components/moment/min/moment.min.js"></script>
        <script src="/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
        <script src="/vendors/bower_components/salvattore/dist/salvattore.min.js"></script>

        <script src="/vendors/bower_components/flot/jquery.flot.js"></script>
        <script src="/vendors/bower_components/flot/jquery.flot.resize.js"></script>
        <script src="/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
        <script src="/vendors/sparklines/jquery.sparkline.min.js"></script>
        <script src="/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="/js/flot-charts/curved-line-chart.js"></script>
        <script src="/js/flot-charts/line-chart.js"></script>

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
        <script src="/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        <script src="/js/charts.js"></script>

        <script src="/js/functions.js"></script>
        <script src="/js/actions.js"></script>

    </body>
  </html>
